*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  --dark-color: #333;
  --light-color: #f7f7f7;
}


/*
--background-main: #333 and white
-- text color: wwhite and black
-- theme-color: purrple, violet
-primary-color:

background-solid: #212121;
background-primary: rbga(33,33,33,0.98);
text:
text-inverse
accent-color
texxt-disabled



*/

body {
  --background-color: #f7f7f7;
  --text-color: black;
  --button-color: #D80286;
  --accent-color: white;
  --name-color: #191919;
  --text-disabled: rgba(255, 255, 255, 0.3);
  transition: all 1000ms ease;
  background-color: black;
  background-color: var(--background-color);

}

body.dark {
  --background-color: #333;
  --text-color: white;
  --button-color: #D80286;
  --accent-color: black;
  --name-color: #FFFFF7;
  --text-disabled: rgba(255, 255, 255, 0.3);

  transition: all 1000ms ease;
  background-color: var(--background-color);
}


html {
  scroll-behavior: smooth;
  overflow: scroll;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
  margin: 0;
  padding: 0;
}

img {
  border: none;
  outline: none;
}


h1,h2,h3,h4,h5,h6 {
  font-size: calc(clamp(1.3em, 1.3em + 2vw, 3em));
  margin-bottom: 1em;
}
h1,h2,h3,h4,h5,h6,p {
  color:var(--text-color);
}
h1 > span {
}

p {
  font-size: calc(clamp(1em, 1em + 1vw, 1.7em));
  line-height: 1.7em;
}

.dark-mode-btn {
  position: sticky;
  top: 0;
  z-index: 2;
}

a{
  text-decoration: none;
  color:var(--text-color);
  user-select: none;
  text-transform: uppercase;
}
span {
  user-select: none;
}

li {
  list-style: none;
}

nav {
  width: 100vw;
  height: 7vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  z-index: 1;
  //flex-direction: column;
  transition: all 1000ms ease;

  background-color: transparent;
  //box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  //box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

  .menu {
    //transform: translateY(-7vh); // animation slide-down
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 1000ms ease;
    & > a {
      color: black;
      #menu-icon {
        font-size: 2.5em;
        padding: 0.1em;
        user-select: none;
      }
    }
    .nav-container {
      display: none;
      position: absolute;
      right:0;
      width: 50%;
      top: 100%;
      ul  {
        background-color: inherit;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 5vh;
          background-color: inherit;
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100%;
              transition: color 400ms ease,background-color 400ms ease;
          }
        }
      }
    }
  }
}
.is-active {
  border-bottom: 0.25em solid var(--accent-color);
}
@media all and (max-width:360px) {
  .home-content {
    p {
      line-height: 1em;
    }
  }
}
@media all and (min-width: 768px) {
  nav {
    .menu {
      width: 50%;
      cursor: pointer;
      & > a {
        display: none;
      }
      .nav-container {
        display: block;
        position: static;
        width: 100%;
        height:100%;
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          li {
            height: 100%;
            &:hover  a{
              background-color: var(--accent-color);
              color: var(--name-color);
            }
          }
        }
      }

    }
  }
}
@media all and (min-width: 992px) {
  nav {
    .menu {
      width: 33%;

    }
  }
}


/* HOME */
.home {
  background-image: url("../../images/jaguar.jpg");
  margin-top: -7vh;
  min-height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
  h1 ,p{
    transition: color 1000ms ease;
  }
  h1 > span {
    color:var(--accent-color);
    transition: color 1000ms ease;
  }
  .dark-mode-btn {
    position: relative;
    top: 9vh;
    left: 2em;
    height: 3.25em;
    width: 3.25em;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--background-color);
    transition: all 1000ms ease;
    span {
      font-size: 2em;
      color: var(--text-color);
    }
  }
  .home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: calc(clamp(260px, 70%, 750px));
    flex-direction: column;
    margin: auto;
    position: relative;
    text-align: center;
    h1 > span {
      color: var(--accent-color);
    }
    .btn-container {
      width: calc(clamp(300px, 100%, 500px));
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .movetowork-btn, .aboutme-btn {
        width: 12em;
        height: 3em;
        border-radius: 2em;
        border: 2px solid var(--button-color);
        outline: none;
        cursor: pointer;
        background-color: transparent;
        margin: 1.5em 1.5em 0 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        //transition: box-shadow 300ms ease-out;
        a {
          text-transform: uppercase;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 1000ms ease;
          font-weight: bold;
          div {
            height: 3em;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3em;
            border-radius: 50%;
            background-color: var(--button-color);
            span {
              color: var(--text-color);
              transition: all 1000ms ease;
            }
          }
          .span1-container {
            position: relative;
            right: -1.1em;
          }
          .span2-container {
            position: relative;
            left: -0.75em;

          }
        }

      }
    }

  }
}
@media all and (min-width: 768px) {

}
@media all and (min-width: 992px) {
  .home .home-content .btn-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .home .home-content .btn-container {

    .movetowork-btn:hover {
      transition: box-shadow 500ms ease;
      box-shadow: inset -200px 0 0 0 var(--button-color);
  }
    .aboutme-btn:hover {
      transition: box-shadow 500ms ease;
      box-shadow: inset 200px 0 0 0 var(--button-color);
    }
  }
}


/******************
    ABOUT
******************/
.about-section {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid white;
  h1 { // about me
    font-size: calc(clamp(3em, 3em + 2vw, 7em));
    margin-top: 1em;
    transition: 0.4s ease-out;
    background-image: -webkit-linear-gradient(92deg, #ee189c, #feab3a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .personal-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .info-container {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      width:100%;
      height: 100%;
      border: 1px solid white;
      h2 {
        margin-top: 1em;

      }
      .avatar {
        display: block;
        border-radius: 50%;
      }
      .info-details {
        width: 100%;

        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        border: 1px solid white;

        li {
          border: 1px solid white;

          width: 50%;
          padding: 0.5em;
          p {
            font-size: calc(clamp(1em, 1.2vw, 1.7em));
            span {
              color: var(--name-color);
            }
          }
        }
      }
    }
    .achieve-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      width: 100%;
      height: 100%;
      flex-wrap: wrap;
      border: 1px solid red;
      padding: 0.25em;
      li {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        padding: 1em;
        border: 1px solid white;
        width: calc(clamp(160px,45vw,360px));
        height: 20vh;
        margin: 0.25em 0;
        border-radius: 0.5em;
        h2,p {
          line-height: 1em;
          border: 1px solid white;
          margin: 0;
          padding: 0;
          margin-bottom: 0.5em;
        }
        p {
          font-size: calc(clamp(1em, 1.2vw, 1.2em));
        }
        h2 {
          font-size: calc(clamp(1.5em, 2.5vw, 2.5em));
        }
      }
    }
  }
  .about-title {
    font-size: calc(clamp(3em, 3em + 2vw, 7em));
    margin: 1.5em 0 1em 0;
    text-align: center;
    transition: 0.4s ease-out;
    background-image: -webkit-linear-gradient(92deg, #ee189c, #feab3a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .about-content {
    width: calc(clamp(320px, 80%, 1000px));
    text-align: center;
    h3 {
      margin:  0.5em 0;
    }
  }
  .skills {
    font-size: calc(clamp(3em, 3em + 2vw, 7em));
    margin: 1.5em 0 0 0;
    text-align: center;
    transition: 0.4s ease-out;
    background-image: -webkit-linear-gradient(92deg, #ee189c, #feab3a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .logos-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid white;
    margin-bottom: 3em;
    width: 90%;
    img {
      width: calc(clamp(120px, 45%, 260px));
      border: 1px solid white;
      margin: 1em 0.5em;
    }
  }
}
@media all and (min-width: 768px) {
  .about-section .personal-info {
    flex-direction: row;
    .info-container .info-details {
      padding: 1em;
    }
    .achieve-container {
      li {
        h2,p {
          border: 1px solid white;
        }

        margin: 1em 0;
        width: 24vw;
      }
    }

  }
}
@media all and (min-width: 992px) {
  .about-section {
    .personal-info {
      flex-direction: row;
      .info-container {
        .avatar {
          display: none;
        }
        .info-details {
          li {
            padding: 1em;
          }
        }
      }

      .achieve-container {
        li {
          h2,p {
            border: 1px solid white;
          }

          margin: 1em 0;
          width: 20vw;
        }
      }
    }
    .about-title {
      &:hover {
        transform: skewY(-3deg);
        filter: drop-shadow(7px 7px 7px #666666);
      }
    }
    .logos-container {
      img {
        transition: transform 400ms ease;
      }
      img:hover {
        transform: scale(1.1);
      }
    }
  }
}

/* SERVICE SECTION */
.service-section {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/images/hippo.jpg");
  clip-path: polygon(0 0, 100% 7%, 100% 93%, 0 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 10em 0;

    li {
      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: column;
      width: 15em;
      height: 16em;
      background-color: white;
      opacity: 0.7;
      margin: 1em 1em;

      img {
        border-radius: 0%;
        width: calc(clamp(80px, 20%, 200px));
        border: 1px solid white;
        margin: 1em;

      }
      .card-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
          margin: 0;
          font-size: calc(clamp(1em, 1em + 1vw, 1.5em));
          background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: hue 10s infinite linear;
          @keyframes hue {
            from {
              -webkit-filter: hue-rotate(0deg);
            }
            to {
              -webkit-filter: hue-rotate(-360deg);
            }
          }
        }
        p {
          font-size: calc(clamp(0.7em, 0.7em + 0.5vw, 1em));
          color: #333;
          span {
            color:#feab3a
          }

        }
      }


    }
  }
}
@media all and (min-width: 768px) {
  .service-section {
    ul {
      li {
        height: 17em;
      }
    }

  }
}
@media all and (min-width: 992px) {
  .service-section {
    ul {
      li {
        height: 20em;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: transform 300ms ease-out;
        p {
          line-height: 2em;
          span {
            opacity: 0;
          }
        }
        &:hover {
          opacity: 1;
          transform: translateY(-1em);
        }
        &:hover p > span {
          opacity: 1;
        }
      }
    }

  }
}


.work-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .work-title {
    font-size: calc(clamp(3em, 2em + 1vw, 4em));
    text-align: center;
    transition: 0.4s ease-out;
    background-image: -webkit-linear-gradient(92deg, #ee189c, #feab3a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    h1 {
      margin: 1em 0 0 0;
    }
  }
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(clamp(350px,80%,1300px));

    .project {
      position: relative;
      margin: 1em;
      min-height: 17em;
      width: calc(clamp(280px, 45%, 350px));
      border-radius: 1em;
      height: 15em;

      img {
        width: 100%;
        height: 100%;
        border-radius: 1em;
      }
      .project-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        text-align: center;
        bottom :0;
        height: 100%;
        width: 100%;
        border-radius: 1em;
        transition: height 400ms ease;
        background: rgba(black,0.5);
        cursor: pointer;
        h3 {
          margin: 0;
          font-size: calc(clamp(1em, 1em + 1vw, 1.5em));
          text-transform: uppercase;
          color:var(--light-color);
        }
        p {
          color:var(--light-color);
          span {
            color:#f35626;
          }
        }
      }
    }
  }
}
@media all and (min-width:768px) {
  .work-section {
    .projects-container {
      .project {
        width: calc(clamp(250px, 35%, 320px));
      }
    }
  }
}

@media all and(min-width: 992px) {
  .work-section {
    .projects-container {
      .project {
        transition: transform 400ms ease;
        .project-content {
          height: 100%;
          background: none;
          border-radius: 0 0 1em 1em;
          & > * {
            transition: all 400ms ease;
            transform: translateY(1em);
            opacity: 0;
          }
        }
        &:hover {
          transform: translateY(0.5em);
          .project-content {
            height: 100%;
            border-radius: 1em;
            background: rgba(black,0.4);
            & > * {
              transform: translateY(0);
              opacity: 1;
            }
          }
        }
      }


    }
  }
}




.contact-section {
  width: 100%;
  min-height: 90vh;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(111,44,153,1) 0%, rgba(64,26,168,1) 100%);
  clip-path: polygon(0% 0%, 100% 7%, 100% 100%, 0% 100%);

}